<!DOCTYPE html>
<html>
<head>
    <title>Profile Page</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>
<body class="no-scroll">
{% extends "base.html" %}
{% block content %}
<!-- The Add Person Modal -->
<div class="modal" id="myModal" tabindex="-1" style="margin-top: 80px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="addPersonForm" action="/add-person" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">Add Person</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <h3 style="text-align: center">Instructions</h3>
                    <ol>
                        <li>When you click the Add button, the zip file will automatically download.</li>
                        <li>Unzip this file to a directory of your choice.</li>
                        <li>After, open a Chrome browser and navigate to Manage Extensions.</li>
                        <li>Ensure the Developer Mode is selected in the right upper corner.</li>
                        <li>Afterward, click on the Load unpacked and select the folder with the unzipped extension.
                        </li>
                        <li>Now you are ready to monitor the person's moods.</li>
                    </ol>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            </form>
        </div>
    </div>
</div>

<div class="container" style="margin-top:60px;">
    <!--Main layout-->
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-6 text-md-end">
                <a data-toggle="modal" data-target="#myModal" style="cursor: pointer;">
                    <button type="button" class="btn btn-primary" style="float:right;">+ Add Person</button>
                </a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-expanded="false" style="min-width:150px;">
                    Display ... &nbsp;&nbsp;&nbsp;
                </button>
                <ul class="dropdown-menu text-center" aria-labelledby="dropdownMenuButton">
                    {% for user in monitored_users %}
                    <li><a class="dropdown-item text-center" href="#" onclick="updateDropdownText('{{ user.name }}')">
                        {{ user.name }}
                    </a></li>
                    {% endfor %}
                </ul>
            </div>

        </div>
        <section class="border-bottom pb-4 mb-5">
            <!-- divider -->
        </section>

        <section id="selectedUserInfo">
            <h6 style="font-style: italic; text-align: center; color: grey;">No person selected</h6>
        </section>
    </div>
    <!--Main layout-->
</div>
<div id="footer"
     class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary stick">
    <!-- Copyright -->
    <div class="mb-3 mb-md-0">
        Martina Karaskova Master's project 2023.
    </div>
    <div class="mb-3 mb-md-0" style="text-align: right">
        All rights reserved.
    </div>
</div>
<script src="/static/dashboard.js"></script>
{% endblock %}
</body>
</html>