<!DOCTYPE html>
<html>
<head>
    <title>Profile Page</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.10/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@6.1.10/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@6.1.10/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@6.1.10/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/list@6.1.10/index.global.min.js"></script>
</head>
<body class="no-scroll">
{% extends "base.html" %}
{% block content %}
<main>
    <!-- The Add Person Modal -->
    <div class="modal" id="addPersonModal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form id="addPersonForm" action="/add-person" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Person</h5>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="name">Monitoring time: (in minutes)</label>
                            <input type="number" class="form-control" id="monitor" name="monitor" min="10" max="60"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="platform">Choose Platform:</label>
                            <select class="form-control" id="platform" name="platform" required>
                                <option value="">Select...</option>
                                <option value="Windows">Windows</option>
                                <option value="macOS">macOS</option>
                            </select>
                        </div>
                        <h4 style="text-align: center">eMood Monitoring Setup Instructions</h4>
                        <hr>

                        <h5 style="text-align: center">General Setup</h5>
                        <ol>
                            <li>Click the "Add" button to automatically download the zip file.</li>
                            <li>Unzip the files to a directory of your choice.</li>
                            <li>The unzipped files are divided into two categories: "Web Monitoring" and "Mood
                                Monitoring".
                            </li>
                            <li>These instructions should be performed on the computer you wish to monitor.</li>
                        </ol>

                        <h5 style="text-align: center">Web Monitoring Setup</h5>
                        <ol>
                            <li>Open a Chrome browser and navigate to "Manage Extensions".</li>
                            <li>Ensure "Developer Mode" is selected in the upper right corner.</li>
                            <li>Click on "Load unpacked" and select the folder named "eMood plugin" that you just
                                downloaded.
                            </li>
                            <li>This setup will continuously monitor the user's web pages whenever they are online.</li>
                            <li>You have now set up web monitoring.</li>
                        </ol>

                        <h5 style="text-align: center">Mood Monitoring Setup</h5>
                        <ol>
                            <li>Place the folder named "eMood detector" on your desktop.</li>
                            <li>Navigate inside the folder and click on "app.exe" to run the mood monitoring
                                application.
                            </li>
                            <li>Unlike Web Monitoring, you need to start this application each time the user boots up
                                their computer.
                            </li>
                            <li>You have now set up mood monitoring.</li>
                        </ol>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Add</button>
                        <button type="button" class="btn btn-secondary refresh-btn" data-dismiss="modal">Close</button>
                    </div>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                </form>
            </div>
        </div>
    </div>

    <div class="modal" id="deletePersonModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="deletePersonForm" action="/delete-person" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete monitored user</h5>
                    </div>
                    <div class="modal-body">
                        <p style="text-align: center">Would you like to permanently delete this monitored user?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary refresh-btn" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Yes, delete user</button>
                    </div>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                </form>
            </div>
        </div>
    </div>

    <!-- Calendar Modal -->
    <div id="calendarModal" class="modal" tabindex="-1">
        <div class="modal-dialog modal-xl">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header justify-content-center d-flex align-items-center">
                    <h4 id="dayCalendarHeading" class="modal-title text-center"></h4>
                </div>
                <div class="modal-body">
                    <div id="calendarNoData" class="row"
                         style="margin-right: 15px; margin-left: 15px; justify-content: center;">
                    </div>
                    <div class="row" style="margin-right: 15px; margin-left: 15px;">
                        <div id="dayMoodChart" class="col">
                            <canvas id="dailyMoodPieChart" width="200" height="200"></canvas>
                        </div>
                        <div id="dayWebChart" class="col">
                            <canvas id="dailyWebPageBarChart" width="200" height="200"></canvas>
                        </div>
                    </div>
                    <div class="row" style="margin-right: 15px; margin-left: 15px;">
                        <div id="dayCalendar" class="col" style="justify-content: center; display: flex;">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>

            </div>
        </div>
    </div>

    <div class="container" style="margin-top:60px;">
        <!--Main layout-->
        <div class="container">
            <div class="row justify-content-end" style="margin-top: -30px;">
                <div class="col-md-6 text-md-end">
                    <a data-toggle="modal" data-target="#addPersonModal" style="cursor: pointer;">
                        <button type="button" class="btn btn-primary" style="float:right;">+ Add Person</button>
                    </a>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap justify-content-center">
                {% for user in monitored_users %}
                <div class="col-3 col-sm-3 col-md-2 col-lg-1">
                    <button class="btn btn-primary transparent-button d-flex flex-column align-items-center justify-content-center"
                            onclick="fetchUserInfo('{{ user.name }}')">
                        <img src="/static/images/profile.png" alt="User Image" class="img-responsive img-fluid">
                        <span>{{ user.name }}</span>
                    </button>
                </div>
                {% endfor %}
            </div>
            <section class="border-bottom pb-4 mb-5">
                <!-- divider -->
            </section>

            <section id="selectedUserData" style="margin-top: -30px;">
                <div class="row justify-content-center" id="noUserSelected">
                    <!-- Insert your content here -->
                </div>
                <div class="row mx-auto" style="margin-bottom: 30px;">
                    <div id="selectedUserPicture" class="col d-flex justify-content-end">
                        <!-- Insert your content here -->
                    </div>
                    <div id="selectedUserInfo" class="col d-flex flex-column justify-content-start">
                        <!-- Insert your content here -->
                    </div>
                    <div id="deleteInfoUser" class="col-2 ml-auto flex-column justify-content-end"
                         style="display: inline-block;">
                        <!-- Insert your content here -->
                    </div>
                </div>
                <div class="row" style="margin-bottom: 30px;">
                    <div class="col-6">
                        <h3 id="moodPieChartHeading" class="text-center"></h3>
                        <canvas id="moodPieChart" width="400" height="400"></canvas>
                    </div>
                    <div class="col-6">
                        <h3 id="userWebsitesHeading" class="text-center"></h3>
                        <canvas id="webPageBarChart" width="400" height="400"></canvas>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 30px;">
                    <div class="col-12">
                        <h3 id="calendarHeading" class="text-center"></h3>
                        <div id="calendar"></div>
                    </div>
                </div>
            </section>
        </div>
        <!--Main layout-->
    </div>
</main>
<footer class="bg-body-tertiary text-center text-lg-start footer">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2023 Copyright: Martina Karaskova Master's project
    </div>
    <!-- Copyright -->
</footer>
<script src="/static/dashboard.js"></script>
{% endblock %}
</body>
</html>