.navbar {
    background-color: #B89BC7 !important;
    max-height: 70px;
}

.spaced {
    margin-right: 20px;
}

#logo {
    width: 100px;
    height: 100px;
    object-fit: scale-down;
    margin-top: -20px;
    margin-bottom: -20px;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

.btn-primary {
    background-color: #B89BC7 !important;
    border-color: #B89BC7 !important;
}

.btn-primary:hover {
    background-color: #B295C1 !important;
    border-color: #B295C1 !important;
}

.bg-primary,
#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #B89BC7 !important;
}

.stick {
    position: fixed !important;;
}

.highlight-text {
    color: #B89BC7 !important;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #B89BC7;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgb(187, 164, 201), rgb(99, 21, 148));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgb(187, 164, 201), rgb(99, 21, 148))
}

.avatar {
    width: 120px;
    position: relative;
    top: 60px;
}

.transparent-button {
    background: transparent !important;
    border: none !important;
    max-width: 100%;
    max-height: 100%;
    color: black;
}

.fc-button-primary {
    background-color: #B89BC7 !important;
    border-color: #B29BC7 !important;
}

.fc-daygrid .fc-bg-event {
    opacity: 1 !important;
}

.fc-day.calendarButtonClass:hover {
    background-color: #eeeeee;
}
.fc-day-today {
    background-color: inherit !important;
    border: none !important;
}

.event-style {
    font-size: 14px;
    height: 40px;
    font-size: 20px;
    color: black !important;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.happy {
    background-color: yellow;
}

.sad {
    background-color: blue;
}

.angry {
    background-color: red;
}

.fear {
    background-color: green;
}

.surprise {
    background-color: purple;
}

.neutral {
    background-color: orange;
}
